$background-color: #fdf6e3;
$major-header-color: #d33682;
$minor-header-color: #859900;
$primary-color: #657b83;
$header-background-color: #eee8d5;

.solarized-body {
  background-color: $background-color;
  color: $primary-color;
}

.solarized-item {
  background-color: $background-color;
  border-color: #ddd;
  color: $primary-color;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.solarized-main {
  color: $major-header-color;
  font-size: 24px;
}

.solarized-seconday {
  color: $minor-header-color;
  font-size: 20px;
}
